# -*- protobuffer -*-
# proto-file: google3/devtools/kokoro/config/proto/build.proto
# proto-message: BuildConfig

# Location of the bash script. Should have value <github_scm.name>/<path_from_repository_root>.
# github_scm.name is specified in the job configuration (next section).
build_file: "cloud-run-mcp/.kokoro/kokoro_build.sh"

container_properties {
  docker_image: "us-central1-docker.pkg.dev/kokoro-container-bakery/kokoro/ubuntu/ubuntu2204/full:next"
}

env_vars {
  key: "GOOGLE_CLOUD_PROJECT"
  value: "cloud-run-mcp-server-testing"
}